<div class="container">
    <div class="container">
        <div class="jumbotron">
            <h1>Sails 102</h1>
            <span class="lead">
                Keep sailing
            </span>
        </div>
    </div>
</div>